<div animateComponentDirective class="companies-container">
  <span class="company-text">Une alliance solide avec nos partenaires pour un succès partagé.</span>
  <div class="trust-companies">
    <div class="trust-companies-column">
      <img src="assets/images/companies_logo/mcdo.svg" class="company-logo">
      <img src="assets/images/companies_logo/nike.svg" class="company-logo">
      <img src="assets/images/companies_logo/tree.svg" class="company-logo">
      <img src="assets/images/companies_logo/epicgames.svg" class="company-logo">
    </div>
    <div class="trust-companies-column">
      <img src="assets/images/companies_logo/immo.svg" class="company-logo">
      <img src="assets/images/companies_logo/vertigo.svg" class="company-logo">
      <img src="assets/images/companies_logo/suzuki.svg" class="company-logo">
      <img src="assets/images/companies_logo/nestle.svg" class="company-logo">
    </div>
  </div>
</div>
