<div class="statistics-container">
  <div animateComponentDirective class="content">
    <span class="key-statistics">Nous priorisons les clients en fournissant un service de première qualité.</span>
    <div class="statistics">
      <div class="statistic-cards">
        <div class="statistic-card">
          <div class="statistic-number">
            <span [countUp]="statists1" [duration]="2000"></span>
            <span>+</span>
          </div>
          <span class="statistic-name">Entreprises Accompagnées</span>
        </div>
        <div class="statistic-card">
          <div class="statistic-number">
            <span [countUp]="statists2" [duration]="1000"></span>
            <span>%+</span>
          </div>
          <span class="statistic-name">de la Productivité des Équipes</span>
        </div>
        <div class="statistic-card">
          <div class="statistic-number">
            <span [countUp]="statists3" [duration]="800"></span>
            <span>+</span>
          </div>
          <span class="statistic-name">Intégrations Disponibles</span>
        </div>
        <div class="statistic-card">
          <div class="statistic-number">
            <span [countUp]="statists4" [duration]="700"></span>
            <span>%+</span>
          </div>
          <span class="statistic-name">de Clients Satisfaits</span>
        </div>
      </div>
    </div>
  </div>
</div>
