<div animateComponentDirective class="enterprise-container">
  <div class="enterprise-title">
    <span class="enterprise-title">ENTREPRISE</span>
  </div>
  <div class="enterprise-row">
    <div class="enterprise-content">
      <div class="enterprise-text-container">
        <div class="entreprise-header">
          <span class="demo-title">Révolutionnez votre organisation</span><br>
          <span class="demo-title">avec </span><span class="app-name"><strong>ZenitEase</strong></span><br><br>
          <p class="enterprise-description">Optimisez temps et coûts en unifiant stratégie, planification
          et exécution sur une seule plateforme, pour une coordination inter-services efficace.</p>
        </div>
      </div>
      <div class="enterprise-button-container">
        <a href="https://calendly.com/zenitease/30min" target="_blank" style="text-decoration: none;"><button class="enterprise-button">Échangez avec un expert</button></a>
      </div>
    </div>
    <div animateComponentDirective class="image-container">
      <img class="enterprise-image" src="assets/images/entreprise.png">
    </div>
  </div>
</div>
