.pricing-container{
  margin: 0 auto;
  padding-top: 160px;
}
.content{
  max-width: 1200px;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.pricing-title{
  color: #38abf8;
  font-weight: bold;
  margin-bottom: 1rem;
}
.key-pricing{
  font-size: 3rem;
  font-weight: bold;
  color: #02016f;
  margin-bottom: 1rem;
}
.pricing-categories{
  margin-top: 2rem;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.pricing-category{
  background-color: white;
  border-top: 5px solid #38abf8;
  border-bottom: 1px solid #38abf8;
  border-right: 1px solid #38abf8;
  border-left: 1px solid #38abf8;
  border-radius: 1rem;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
  padding: 20px;
//   height:650px;
  width: 400px;
  font-size: 1rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.pricing-category:hover{
  transform: scale(0.97);
}
.pricing-category-title{
  color: #02016f;
  height: 120px;
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}
.pricing-category-title span{
  text-align : center;
  font-size: 2rem;
  font-weight: bold;
}
.pricing-category-price{
  height: 120px;
  margin: 1rem 0 2rem 0;
  display:flex;
  flex-direction:column;
}
.price{
  color: #02016f;
  font-size: 2rem;
  font-weight: bold;
}
.price-description{
  color:#656565;
}
.pricing-category-button{
  display: flex;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  height: 3rem;
  border: none;
  padding: 0 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #38abf8;
  color: white;
  //border: 1px solid #194f60;
  border-radius: 0.5rem;
  font-weight: bold;
  margin-top : 1rem;
}
.pricing-category-button:hover{
  box-shadow: -4px 4px 0 0 #0362a1;
  transform: translate(3px, -3px);
}
.pricing-category-advantages{
  margin: 0.5rem;
  display: flex;
  align-items: flex-start;
}
.pricing-category-advantage{
  flex: 1;
//   display: inline-block;
   margin-left: 5px;
}
.spacer{
  flex:-10;
}
hr{
  border: none;
  border-top: 1px solid #38abf8;
}

.Gratos {
  background: linear-gradient(270deg, #0e91e9, #38abf8, #0e91e9, #0278c7, #7dc9fc);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 8s ease infinite;
}
.pricing-methods{
  display: flex;
  justify-content: center;
}
.pricing-methods > * {
  margin: 0 5px; /* Reduce horizontal margin between elements */
  padding: 10px; /* Adjust padding if needed */
}
.pricing-methods input{
  margin : 0.4rem;
  cursor: pointer;
}


@media screen and (max-width:450px) {
  .pricing-container{
    padding-top: 50px;
  }.pricing-methods{
    display: unset;
  }
  .content{
    margin-left: 25px;
  }
  .key-pricing{
    font-size: 1.8rem;
  }
  .pricing-categories{
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing-categories .pricing-category{
    flex: 0 0 80%;
    margin: 0.8rem;
  }
  .pricing-category-price{
    text-align: center;
  }
  .pricing-category-button-container{
    display : grid;
    justify-content: center;
  }
}
@media screen and (max-width:380px) {
  .pricing-category{
    min-width: 340px;
  }
}

.price-description .highlight {
  font-size: 1.5rem; /* Taille plus grande pour mettre en avant l'essai gratuit */
  font-weight: bold; /* Rend le texte plus épais pour attirer l'attention */
  color: #007bff; /* Couleur bleue moderne */
  padding: 0.5rem; /* Ajoute un peu d'espace autour du texte */
}
