<div class="pricing-container">
  <div animateComponentDirective class="content">
    <span class="pricing-title">TARIFICATION</span><br><br><br>
    <span class="key-pricing">Organisez votre travail en toute simplicité. Lancez-vous <span class="Gratos">GRATUITEMENT</span></span>
  </div>
  <div class="pricing-methods">
    <div>
      <input type="radio" id="annual" name="method" value="annual" checked (click)="setPaymentMethod('annual')" />
      <label for="annual" (click)="setPaymentMethod('annual')">Paiement ANNUEL<span style="color: #38abf8;">  <strong> (Economisez 25%)</strong></span></label>
    </div>
    <div style="margin-bottom: 100px;">
      <input type="radio" id="mensuel" name="method" value="mensuel" (click)="setPaymentMethod('mensuelle')" />
      <label for="mensuel" (click)="setPaymentMethod('mensuelle')">Paiement MENSUEL</label>
    </div>
  </div>
  <div animateComponentDirective class="pricing-categories">
    <div class="pricing-category">
      <div class="pricing-category-title">
        <span>Starter</span><br><br>
        <p>Pour les particuliers et les petites équipes qui veulent gérer leurs tâches.</p>
      </div>
      <div class="pricing-category-price">
        <span *ngIf="!paymentMethod" class="price">7.90 €</span> <span *ngIf="paymentMethod" class="price">9.90 €</span> <br><br>
        <p class="price-description" style="text-align: center;">
          Par utilisateur/mois <br> <br> 
          <span class="highlight">Essai GRATUIT</span>
        </p>
      </div>
      <hr>
      <div class="pricing-category-button-container">
        <button class="pricing-category-button">Commencer</button><br>
      </div>
      <span>Gérez vos tâches professionnelles et personnelles :</span><br><br>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Travaillez en équipe (jusqu’à 10 personnes)</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Nombre de tâches illimité</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Nombre de projets 5</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Nombre de messages illimité</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Journal complet des activités</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Stockage de fichiers illimité (100 Mo par fichier)</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Responsable et échéances illimités</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Projets en vue Liste</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Projets en vue Tableau</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Vue Calendrier</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Filtres de recherche basiques</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Mises à jour de statut</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>
        <span class="pricing-category-advantage">Tableaux de bord de projet</span>
      </div>
    </div>

    <div class="pricing-category">
      <div class="pricing-category-title">
        <span>Premium</span><br><br>
        <p style="text-align: justify;">Pour les équipes en pleine croissance qui
          doivent suivre la progression de leurs projets afin de respecter leurs délais.</p>
      </div>
      <div class="pricing-category-price">
        <span class="price" *ngIf="!paymentMethod">11.90 €</span> <span class="price" *ngIf="paymentMethod">14.90 €</span> <br><br>
        <p class="price-description" style="text-align: center;">
          Par utilisateur/mois <br> <br> 
          <span class="highlight">Essai GRATUIT</span>
        </p>
      </div>
      <hr>
      <div class="pricing-category-button-container">
        <button class="pricing-category-button">Commencer</button><br>
      </div>
      <span>Tous les avantages offerts par Starter, et aussi :</span><br><br>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Travaillez en équipe (jusqu’à 100 personnes)</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Vue Chronologie</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Vue Gantt</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">IA Zenit</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Recherche avancée avec l'IA Zenit</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">250 automatisations par mois</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Console d’administration</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Équipes et projets privés</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Invités gratuits 10</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Assistance technique basique</span>
      </div>
    </div>

    <div class="pricing-category">
      <div class="pricing-category-title">
        <span>Entreprise</span><br><br>
        <p style="text-align: justify;">Pour les entreprises qui doivent gérer un portefeuille
          d’activités et d’objectifs dans plusieurs services.</p>
      </div>
      <div class="pricing-category-price">
        <!-- <span class="price">24,99 €</span>--><br><br> 
        <p class="price-description" *ngIf="paymentMethod" style="text-align: center;">Facturation annuelle.Passez à la facturation annuelle ci-dessus pour consulter les tarifs Enterprise.</p>
        <p class="price-description" *ngIf="!paymentMethod" style="text-align: center;">Nos tarifs sont personnalisés pour chaque entreprise. Contactez notre service commercial pour une solution sur mesure.</p>
      </div>
      <hr>
      <div class="pricing-category-button-container">
        <button class="pricing-category-button">Contacter le service commercial</button><br>
      </div>
      <span>Tous les avantages offerts par Premium, et aussi :</span><br><br>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage"> Aucune limite de licences concernant le nombre d’utilisateurs</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage"> Dates et heures de début</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage"> Modèles de projet personnalisés</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Tableaux de bord de projet personnalisé</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Générateur de processus</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Assistance avancée avec  l'IA Zenit</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Chat avec l'IA Zenit</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">gestion avancée des équipes </span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Invités gratuits 30</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage"> Nombre de projets illimité</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Paramètres administrateur du projet</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Assistance technique Premium</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">des intégrations gratuites à vos applications préférées</span>
      </div>
      <div class="pricing-category-advantages">
        <i class="pi pi-bell pi-check" style="font-size: 1rem; color:#02016f;margin-right: 15px"></i>

        <span class="pricing-category-advantage">Espaces de travail approuvés</span>
      </div>
    </div>
  </div>
</div>
