.connexion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
  }
  .connexion-row{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
  }
  .connexion-content{
    padding-top:6rem;
    margin-left: 10rem;
    margin-top: -30px;
  }
  .connexion-header{
    margin-top: 20px;
    text-align: center;
  }
  .connexion-description{
    margin-top: 1rem;
  }
  .image-container{
    
  }
  .connexion-image{
    width: 37rem;
    height: 37rem;
    margin-top: -110px;
    margin-left: -30px;
    border-radius: 1rem;
  }
  .connexion-title{
    color: #38abf8;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .connexion-subtitle{
    color: #02016f;
  
  }
  .connexion-description{
    line-height: 1.5;
  }
  .connexion-button{
    color: #000;
    margin-top: 2rem;
    height: 50px;
    width: 350px;
    transition: 0.3s;
    height: 3rem;
    border: none;
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #194f60;
    border-radius: 0.5rem;
    font-weight: bold;
  }
  .connexion-button-botom{
    height: 50px;
    margin-top: 10px;
    width: 350px;
    transition: 0.3s;
    height: 3rem;
    border: none;
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #194f60;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #000;
  }
  .connexion-button:hover{
    background-color: #f1f1f1;
    // box-shadow: -4px 4px 0 0 #0362a1;
    // transform: translate(3px, -3px);
  }
  .connexion-button-botom:hover{
    background-color: #f1f1f1;
    // box-shadow: -4px 4px 0 0 #0362a1;
    // transform: translate(3px, -3px);
  }

  .logo{
    margin-top: -140px;
    margin-bottom: 50px;
    transform: translateX(-100px);
    display: flex;
    margin-left: 12rem;
  }
  .logo-img{
    object-fit: cover;
    width: 5rem;
    height: 5rem;
  }
  .logo-span{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1.5rem 1.5rem;
    color: #0278c7;
  }
  .connexion-button-container{
    text-align: center;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .divider::before {
    margin-right: .25em;
  }
  
  .divider::after {
    margin-left: .25em;
  }
  
  .divider span {
    padding: 0 10px;
    background: #fff;
  }
  .form-field{
    text-align: center;
  }
  .form-field input{
    border: 1px solid #38abf8;
    height: 2rem;
    border-radius: 5px;
    min-width: 350px;
    min-height: 40px;
    padding-left: 1rem;
  }
  .form-field input:focus{
    outline: none;
    border-color: #ccc;
  }
  .login-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    background-color: #7dcbfc;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: #02016f;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s ease;
  }
  .login-button:hover{
    background-color: #bae2fd;
  }
  
  @media screen and (max-width:450px) {
    .connexion-container{
      padding-top: 30px;
      display: unset;
    }
    .image-container{
      display: none;
    }
    .connexion-content{
      padding-top:unset;
      margin: 50px 25px 0 25px;
    }
    .connexion-button-container{
      display : grid;;
      justify-content: center;
    }
    .connexion-title{
      color: #38abf8;
      font-weight: bold;
    }
    .connexion-subtitle{
      font-size: 1.8rem;
    }
    .divider::before,
    .divider::after {
        text-align: center;
      content: '';
      flex: 0.5;
      border-bottom: 1px solid #000;
    }
    .logo{
        margin-top: unset;
        margin-bottom: 80px;
        transform: translateX(20px);
        display: flex;
        margin: 0 25px 50px 25px;
      }
      .login-button{
        width: 280px;
      }
      .form-field input{
        min-width: 280px;
      }
      .connexion-button-botom{
        width: 280px;
      }
      .connexion-button{
        width: 280px;
      }
  }
  
  