<div class="intro-container">
  <div class="content">
    <span class="welcome-text">Parallèles entre</span> <br>
    <span class="welcome-text">l’océan et le corps humain  <span class="project-name"></span></span>
    <p class="under-welcome">Le corps humain et l'océan partagent des mécanismes de fonctionnement fascinants. <br/> À travers cette application, nous vous proposons d'explorer les similitudes entre ces deux systèmes, <br/>qui, tout comme le corps humain, sont interconnectés et dépendent <br/> les uns des autres pour maintenir un équilibre fragile.</p>
    <div class="intro-buttons">
    </div>
  </div>
</div>
