<div animateComponentDirective class="ai-container">
  <div class="ai-row">
    <div  class="image-container">
      <img class="ai-image" src="assets/images/ai.jpg">
    </div>
    <div  class="ai-content">
      <div class="ai-header">
        <span class="ai-title">IA ZENIT</span><br><br>
        <span class="ai-subtitle">Déployez l'IA pour maximiser votre impact.</span>
      </div>
      <div class="ai-description">
        <p>Améliorez l'efficacité de votre équipe grâce à l'IA ZENIT. Découvrez une série de fonctionnalités alimentées par l'IA, conçues pour maximiser la productivité à tous les niveaux de votre entreprise. De plus, ces fonctionnalités s'adaptent en permanence à vos besoins évolutifs, assurant ainsi une optimisation continue au fil du temps.</p>
      </div>
      <div class="ai-button-container">
        <button class="ai-button" (click)="show()">Découvrir l’IA ZENIT </button>
      </div>
    </div>
  </div>
</div>
