.ai-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.ai-row{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}
.ai-content{
  padding-top:6rem;
  margin-left: 10rem;
}
.ai-header{
}
.ai-description{
  margin-top: 1rem;
}
.image-container{
}
.ai-image{
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}
.ai-title{
  color: #38abf8;
  font-weight: bold;
  margin-bottom: 1rem;
}
.ai-subtitle{
  font-weight: bold;
  font-size: 1.4rem;
  color: #02016f;

}
.ai-description{
  line-height: 1.5;
  text-align: justify;
}
.ai-button{
  margin-top: 2rem;
  height: 50px;
  width: 260px;
  transition: 0.3s;
  height: 3rem;
  border: none;
  padding: 0 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #0e91e9;
  //border: 1px solid #194f60;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
}
.ai-button:hover{
  box-shadow: -4px 4px 0 0 #0362a1;
  transform: translate(3px, -3px);
}

@media screen and (max-width:450px) {
  .ai-container{
    padding-top: 30px;
    display: unset;
  }
  .image-container{
    display: none;
  }
  .ai-content{
    padding-top:unset;
    margin: 50px 25px 0 25px;
  }
  .ai-button-container{
    display : grid;;
    justify-content: center;
  }
  .ai-title{
    color: #38abf8;
    font-weight: bold;
  }
  .ai-subtitle{
    font-size: 1.8rem;
  }
}

