@import 'ngx-toastr/toastr';
.main-container{
  position:relative;
  margin: 0 auto;
  background-color: black;
}
.second-container {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 2;
  background: linear-gradient(270deg, #f0f8ff, #e0f0fe, #f0f8ff);
  background-size: 200% 200%; // Ajustement pour un mouvement plus fluide
  animation: gradient-move 10s ease-in-out infinite; // Animation plus rapide avec un mouvement de va-et-vient
}

@keyframes gradient-move {
  0% {
    background-position: 100% 50%; // Départ à droite
  }
  50% {
    background-position: 0% 50%; // Se déplace vers la gauche
  }
  100% {
    background-position: 100% 50%; // Retourne à droite
  }
}

// .second-container::before{
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 800px;
//  background: linear-gradient(270deg, #0a3442, #194f60, #195f71);
//  background-size: 600% 600%;
//  animation: gradientAnimation 10s ease infinite;
// }
.background-container {
 z-index: 3!important;
 height: 800px;
 overflow: hidden;
 background: linear-gradient(270deg, #f0f8ff, #e0f0fe, #f0f8ff);
 background-size: 200% 200%; // Ajustement pour un mouvement plus fluide
 animation: gradient-move 10s ease-in-out infinite; // Animation plus rapide avec un mouvement de va-et-vient
}
@keyframes gradientAnimation {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top:-200px;


}

.app-screen-shot {
  max-width: 1000px;
  border-radius: 1rem;
  z-index: 3;
  display: block;
  margin: auto;
  box-shadow: 0 4px 200px 4px rgba(0, 0, 0, 0.3);
}
.bank-card-img{
  z-index: 2;
  transform: translateX(70%) rotate(10deg);
  margin-bottom: -200px!important;
  transition: transform 0.9s ease;

}
.bank-card-img:hover{
  transform:  translateX(50%) translateY(-20%) rotate(-5deg);
}

@media screen and (max-width:450px) {
  .background-container{
    width: 100%;
  }
  .second-container{
    width: 100%;
  }
  .app-screen-shot {
    width: 90%;
  }
  .bank-card-img{
    width: 200px;
    height: 150px;
    transform: translateX(25%) translateY(-50%) rotate(10deg);
  }
  .bank-card-img:hover{
    transform:  translateX(25%) translateY(-100%) rotate(-5deg);
  }
  .image-container{
    margin-top:3rem;
    top:-70px
  }
}
