<div class="salinite-row">
  <div class="salinite-container">
    <div animateComponentDirective class="image-container">
      <img src="assets/images/salinite.jpg"/>
    </div>
  </div>
  <div class="salinites-content">
    <div animateComponentDirective class="salinites-header">
      <span class="key-salinites">Salinité : Équilibre des électrolytes dans le sang</span>
    </div>
    <div animateComponentDirective class="description">
      <p class="parag">
        La salinité des océans, déterminée par la concentration de sels dissous, peut être comparée à l'équilibre des électrolytes dans le sang humain, un élément essentiel pour le bon fonctionnement cellulaire. 
        <br/>Dans le corps, les électrolytes tels que le sodium, le potassium et le chlore jouent un rôle crucial dans le maintien de l'hydratation, la transmission des signaux nerveux et la contraction musculaire. 
        <br/>De manière similaire, dans les océans, la salinité influence les courants marins, la vie aquatique et les cycles biologiques. 
        <br/>Un déséquilibre de ces éléments, que ce soit dans le corps ou dans l'océan, peut entraîner des perturbations majeures, soulignant l'importance de préserver l’équilibre dans les systèmes biologiques et naturels.
      </p>
    </div>
  </div>
</div>

