<div animateComponentDirective class="advantages-container">
  <div class="advantage-row">
    <div class="advantages-content">
      <div animateComponentDirective class="advantages-header">
       
        <span class="key-advantages">La relation entre le système circulatoire du corps humain et l'océan</span>
      </div>
      <div class="advantages">
        <div animateComponentDirective class="description">
          <p>les deux systèmes, humain et marin, sont interconnectés par leur fonction de transport et d'échange de substances vitales, maintenant ainsi l'équilibre et la vie dans leurs environnements respectifs.</p>
        </div>
        <div animateComponentDirective class="advantage-cards">
          <div [ngClass]="{'advantage-card-selected':isClicked.get('1'),'advantage-card':!isClicked.get('1')}" (click)="changeAdvantageCardNumber(1)">
            
            <span>Régulation thermique :</span>
          </div>
          <div [ngClass]="{'advantage-card-selected':isClicked.get('2'),'advantage-card':!isClicked.get('2')}" (click)="changeAdvantageCardNumber(2)">
            
            <span>Filtration et purification :</span>
          </div>
          <div [ngClass]="{'advantage-card-selected':isClicked.get('3'),'advantage-card':!isClicked.get('3')}" (click)="changeAdvantageCardNumber(3)">
            
            <span>Écosystèmes et organes vitaux :

            </span>
          </div>
          <div [ngClass]="{'advantage-card-selected':isClicked.get('4'),'advantage-card':!isClicked.get('4')}" (click)="changeAdvantageCardNumber(4)">
            
            <span>Réseaux de distribution :

            </span>
          </div>
        </div>
        <div animateComponentDirective class="advantage-description">
          <p *ngIf="advantageCardNumber === 1" style="text-align: justify;">
            Ces exemples montrent comment des systèmes variés dans la nature et la société fonctionnent sur des principes similaires à ceux du système circulatoire humain, mettant en évidence des réseaux essentiels de transport et de régulation.
          </p>
          
        </div>
      </div>
    </div>
    <div animateComponentDirective class="image-container">
      <img *ngIf="advantageCardNumber === 1"  src="assets/images/chaleur.jpg">
      <img *ngIf="advantageCardNumber === 2"  src="assets/images/transport.jpg">
      <img *ngIf="advantageCardNumber === 3"  src="assets/images/racine.jpg">
      <img *ngIf="advantageCardNumber === 4"  src="assets/images/sangs.avif">
    </div>
  </div>
</div>
