.integration-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}
.content{
  text-align: center;
  max-width: 1200px;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.key-integration{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #02016f;
  margin-bottom: 1rem;
}
.integrations{
  margin-top: 2rem;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.integration-cards{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}
.integration-card{
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 1rem;
  width : 7rem;
  height: 7rem;
  padding: 1rem;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
}
.integration-icon{
  width: 4rem;
  height: 4rem;
}
.integration-title-head{
  color: #38abf8;
  font-weight: bold;
  margin-bottom: 2rem;
  //text-align: center;
  // margin-left: 1rem;
}

.integration-icon-c{
  width: 5rem;
  height: 4rem;
}
.title-description{
  margin-top: 6rem;
  color:#656565;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.integration-title{
  margin-top: 40px;
}

@media screen and (max-width:450px) {
  .integration-container{
    display: unset;
  }
  .content{
    padding-top: 30px;
    text-align: unset;
    margin: 30px 25px 0 25px;
  }
  .key-integration{
    font-size: 1.8rem;
    text-align: unset;
  }
  .integration-title-head{
    color: #38abf8;
    margin-bottom: 1rem;
  }
  .integration-cards{
    flex-wrap: wrap;
    justify-content: center;
  }
  .integration-card{
    flex: 0 0 25%;
    margin: 0.5rem;
    width : 5rem;
    height: 5rem;
  }
  .integration-icon{
    width: 3rem;
    height: 3rem;
  }
  .integration-icon-c{
    width: 4rem;
    height: 3rem;
  }
}
