<div class="integration-container">
  <div animateComponentDirective class="content">
    <div class="integration-title">
      <div class="integration-title-head">
        <span>INTÉGRATIONS</span>
      </div>
      <div class="key-integration">
        <span>Centralisez vos décisions stratégiques sur toutes vos activités, au même endroit</span>
      </div>
      <div animateComponentDirective class="title-description">
        <span>Combinez les outils couramment utilisés par vos équipes pour réduire les allers-retours entre applications. 
          ZenitEase s'intègre à des centaines d'applications, vous permettant de visualiser l'ensemble de votre travail 
          sur une seule plateforme.</span>
      </div>
    </div>
    <div animateComponentDirective class="integrations">
      <div class="integration-cards">
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/Jira.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/trello.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/Notion.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/gpt.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon-c" src="assets/icons/Calendly.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/google.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/teams.jpg">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon-c" src="assets/icons/Microsoft%20365.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/gemeni.png">
          </div>
        </div>
        <div class="integration-card">
          <div>
            <img class="integration-icon" src="assets/icons/Keycloak.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
