<div animateComponentDirective class="demo-container">
  <div  class="content">
    <div class="demo-title">
      <span class="demo-title">DEMANDEZ UNE DEMO</span>
    </div>
    <div class="demo">
      <div class="demo-content" style="position: relative;">
        <video [muted]="'muted'" autoplay loop class="video">
          <source src="assets/videos/demo%20(2).mp4" type="video/mp4">
        </video>
        <div class="demo-text-container">
          <span class="demo-title">Commencez</span><br>
          <span class="demo-title">avec </span><span class="app-name">ZenitEase</span><br><br>
          <p class="demo-description">Et découvrez par vous-même les fonctionnalités incroyables de notre</p>
          <p class="demo-description">application en demandant une démonstration dès aujourd'hui !</p>
        </div>
        <div class="form-container">
          <input (ngModelChange)="checkEmail($event)"  [matTooltip]="!validEmail? 'Remplissez votre Addresse mail!':''" type="email" placeholder="{{emailPlaceHolder}}" [ngClass]="{'demo-input':validEmail, 'demo-input-warning':!validEmail}" [(ngModel)]="email">
          <button class="demo-button" (click)="show()">Demandez une démo</button>
        </div>
      </div>
    </div>
  </div>
</div>
