<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>ZENITEASE</h4>
      <p>Transformez votre gestion de projets et d'équipes avec une approche avancée basée sur l'IA.</p>
    </div>
    <div class="footer-section">
      <h4>Contact</h4>
      <p>Email: contact&#64;zenitease.com</p>
      <p>Téléphone : +33 6 46 55 13 13</p>
      <!-- <p>Tél : +33 1 42 55 61 16</p> -->
    </div>
    <div class="footer-section">
      <h4>Liens Rapides</h4>
      <a href="" class="lien-rapide"><p>Qui sommes-nous ?</p></a>
      <a href="" class="lien-rapide"><p>Informations Légales</p></a>
      <a href="" class="lien-rapide"><p>Sécurité</p></a>
      <!-- <p>Conditions générales</p> -->
      <!-- <p>Mentions légales</p> -->
      <!-- <p>Confidentialité des données</p> -->
      <!-- <p>Sécurité des données</p> -->
    </div>
    <div class="footer-section">
      <h4>Suivez-nous</h4>
      <div class="social-icons">
        <a href=""><img width="48" height="48" src="../../../../assets/icons/footer icons/linkedIn.png" alt="linkedin-icon"/></a>        
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 ZENITEASE. Tous droits réservés.</p>
  </div>
</footer>