<div class="pop-up-container">
<div class="popup">
  <div class="contact-form-container">
    <div class="form">
      <div class="form-title">
        <span>Remplissez vos données</span>
      </div>
      <form>
        <div class="form-field">
        </div>
        <div class="form-field-tow">
          <div class="form-input">
            <input placeholder="Nom" type="text" id="firstName" name="firstName" [(ngModel)]="data.lastName">
          </div>
          <div class="form-input">
            <input placeholder="Prénom" type="text" id="lastName" name="lastName" [(ngModel)]="data.firstName">
          </div>
        </div>
        <div class="form-field-tow">
          <div class="form-input">
            <input placeholder="Entreprise" type="text" id="enterpriseName" name="enterpriseName" [(ngModel)]="data.enterprise">
          </div>
          <div class="form-input">
            <input placeholder="Poste" type="text" id="enterprisePost" name="enterprisePost" [(ngModel)]="data.post">
          </div>
        </div>
        <div class="form-field">
          <div class="form-input">
            <input placeholder="Télèphone"  type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="data.phoneNumber">
          </div>
        </div>

      </form>
    </div>
    <div class="demo-button-modal">
        <button class="contact-button" (click)="dialogRef.close(data)" [mat-dialog-close]="true">Envoyez</button>
        <button class="contact-button-cancel" (click)="cancel()">Retour</button>
    </div>
  </div>
</div>
</div>
