<div class="salinite-row">
  <div class="salinite-container">
    <div animateComponentDirective class="image-container">
      <img src="assets/images/respire.jpg"/>
    </div>
  </div>
  <div class="salinites-content">
    <div animateComponentDirective class="salinites-header">
      <span class="key-salinites">La similarité des échanges gazeux entre le corps humain et l'océan</span>
    </div>
    <div animateComponentDirective class="description">
      <p class="parag">
        Dans le corps humain :
Les poumons permettent les échanges gazeux entre l'air et le sang via les alvéoles.
L'oxygène est absorbé depuis l'air et transporté par les globules rouges vers les cellules, tandis que le CO₂, un déchet métabolique, est éliminé par l'expiration.
Dans l'océan :
L'océan agit comme un immense réservoir de gaz. Il absorbe de l'oxygène et du CO₂ de l'atmosphère à sa surface. Ce processus est influencé par la température de l'eau, la pression et le mouvement des vagues.
Le phytoplancton, par la photosynthèse, capte le CO₂ et libère de l'O₂, contribuant à la production de plus de 50 % de l'oxygène mondial.

      </p>
    </div>
  </div>
</div>
