<div class="functionalities-container">
  <div class="content">
    <div animateComponentDirective class="functionalities-header">
      <span class="functionalities-title">EXPERTISE</span><br><br><br>
      <span class="key-features">Fonctionnalités Clés Révélées : Puissance, Vitesse, Flexibilité, Simplicité, Intégration</span><br><br><br>
      <span class="title-description">Découvrez notre suite d'outils de gestion de projet, conçue pour libérer tout le potentiel de votre équipe.</span>
    </div>
    <div class="features">
      <div animateComponentDirective class="feature-column">
        <div class="feature">
          <i class="pi pi-bell feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Gestion Intuitive des Projets</span>
          <p class="feature-description">Obtenez toutes vos données clées</p>
        </div>
        <div class="feature">
          <i class="pi pi-cog feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Tableau de Bord Personnalisé</span>
          <p class="feature-description">Organisez et collaborez efficacement</p>
        </div>
        <div class="feature">
          <i class="pi pi-eye feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Automatisation des Tâches</span>
          <p class="feature-description">Automatisez les tâches récurrentes</p>
        </div>
        <div class="final-feature">
          <i class="pi pi-folder-open feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Collaboration en Temps Réel</span>
          <p class="feature-description">Collaborez et partagez en temps réel</p>
        </div>
      </div>
      <br> <br>
      <div animateComponentDirective class="feature-column">
        <div class="feature">
          <i class="pi pi-calendar feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Suivi des Performances</span>
          <p class="feature-description">Analysez et identifiez les tendances</p>
        </div>
        <div class="feature">
          <i class="pi pi-compass feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Sécurité Accrue Intégrée</span>
          <p class="feature-description">Sécurisez vos données avec nos outils</p>
        </div>
        <div class="feature">
          <i class="pi pi-folder feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Support Client Réactif et Agile</span>
          <p class="feature-description">Profitez d'un support client réactif 7j/7</p>
        </div>
        <div class="final-feature">
          <i class="pi pi-thumbs-up feature-icon" style="font-size: 2rem; color: #0278c7;"></i><br>
          <span class="feature-title">Intégrations Puissantes</span>
          <p class="feature-description">Connectez-vous à des services tiers</p>
        </div>
      </div>
    </div>
  </div>
</div>
