<div class="ai-modal-container">
  <div class="ai-modal-content">
    <div class="close-button">
      <i (click)="cancel()" class="pi pi-times"></i>
    </div>
    <div class="ai-modal-image-container">
      <img class="ai-modal-image" src="assets/images/iapop.jpg">
    </div>
    <br/>
    <div class="ai-modal-text">
      <p-accordion [activeIndex]="0">
        <p-accordionTab header="Optimisation des Flux de Travail">
          <p>Zenit est conçu pour analyser en temps réel vos projets et optimiser les flux de travail. Grâce à une compréhension approfondie des tâches et des dépendances, Zenit propose des ajustements dynamiques pour améliorer l'efficacité et respecter les délais.</p>
        </p-accordionTab>
        <p-accordionTab header="Prévision des Risques">
          <p>L’IA Zenit anticipe les risques potentiels en examinant les données historiques et en identifiant les schémas récurrents. En vous alertant sur les problèmes avant qu'ils ne surviennent, Zenit vous aide à prendre des décisions éclairées pour éviter les écueils.</p>
        </p-accordionTab>
        <p-accordionTab header="Gestion Intelligente des Ressources">
          <p>Avec Zenit, la gestion des ressources devient un jeu d’enfant. L'IA analyse les compétences de votre équipe et les besoins des projets pour recommander des affectations optimales, assurant ainsi une utilisation efficace de chaque ressource disponible. </p>
        </p-accordionTab>
        <p-accordionTab header="Automatisation des Tâches Répétitives">
          <p>Zenit simplifie votre quotidien en automatisant les tâches répétitives. En prenant en charge les processus chronophages, Zenit vous permet de vous concentrer sur des aspects plus stratégiques et créatifs de vos projets.</p>
        </p-accordionTab>
        <p-accordionTab header="Analyse des Performances">
          <p>L’IA Zenit fournit des analyses détaillées sur les performances de vos projets et de votre équipe. En utilisant des tableaux de bord interactifs et des rapports approfondis, Zenit vous offre des insights précieux pour améliorer continuellement vos processus.</p>
        </p-accordionTab>
    </p-accordion>
      <!-- <ul>
        <li>
          
        </li>
        <li>
          
        </li>
        <li>
          
        </li>
        <li>
          
        </li>
        <li>
          
        </li>
      </ul> -->
    </div>
  </div>
</div>
