<div class="productivity-container">
  <div class="productivity-content">
    <div animateComponentDirective class="productivity-title">
      <span class="app-name"><strong>ZenitEase</strong></span>
      <span class="key-productivity"> peut décupler la vitesse de vos équipes et multiplier leur production <span class="app-name"><strong>x3</strong></span></span><br>
    </div>
    <div animateComponentDirective class="title-description">
      <span>ZenitEase booste la productivité de vos collaborateurs : ils travaillent 62 % plus vite et accomplissent trois fois plus de tâches.</span>
    </div>
    <div animateComponentDirective class="productivity-cards">
      <div class="productivity-card>">
        <div class="card-image-container">
          <img class="card-image" src="assets/images/prod1.png">
        </div>
        <div class="card-title">
          <span>OPTIMISEZ L'IMPACT DE VOTRE TRAVAIL</span>
        </div>
        <div class="card-subtitle">
          <span>Créez facilement des processus performants</span>
        </div>
        <div class="card-description">
          <span>Créez des processus performants avec un outil intuitif qui connecte vos équipes, automatise les tâches, organise le travail et rationalise vos projets, tout en un seul endroit. Simplifiez la gestion de projet et améliorez l'efficacité de votre équipe grâce à une plateforme centralisée et conviviale.</span>
        </div>
      </div>
      <div class="productivity-card>">
        <div class="card-image-container">
          <img class="card-image" src="assets/images/prod2.png">
        </div>
        <div class="card-title">
          <span>GARDEZ UNE VUE CLAIRE DES OBJECTIFS</span>
        </div>
        <div class="card-subtitle">
          <span>Synchronisez vos tâches avec vos objectifs</span>
        </div>
        <div class="card-description">
          <span>Définissez et suivez des objectifs d'entreprise avec des mises à jour instantanées selon la progression de l'équipe. Repérez les blocages en temps réel et permettez à chacun de voir comment son travail contribue aux objectifs globaux</span>
        </div>
      </div>
      <div class="productivity-card>">
        <div class="card-image-container">
          <img class="card-image" src="assets/images/prod3.png">
        </div>
        <div class="card-title">
          <span>ÉVOLUEZ SANS LIMITES, EN TOUTE SÉRÉNITÉ</span>
        </div>
        <div class="card-subtitle">
          <span>Gérez des organisations de toutes tailles</span>
        </div>
        <div class="card-description">
          <span>Déployez et gérez ZenitEase en toute confiance au sein de vos équipes grâce à des contrôles de sécurité avancés et des paramètres administrateurs professionnels. Gérez les autorisations, protégez vos données, et bien plus encore, sans effort manuel inutile.</span>
        </div>
      </div>
    </div>
  </div>
</div>
