<div class="salinite-row">
  <div class="salinites-content">
    <div animateComponentDirective class="salinites-header">
      <span class="key-salinites">Corail : Squelette humain ou os</span>
    </div>
    <div animateComponentDirective class="description">
      <p class="parag">
        Les récifs coralliens, véritables joyaux des océans, jouent un rôle essentiel dans le soutien de la biodiversité marine. Leur structure complexe, formée par des colonies de coraux, offre un habitat et un abri à une multitude d'espèces marines, favorisant ainsi un écosystème riche et diversifié. À bien des égards, ces récifs ressemblent au squelette humain, qui constitue le cadre de soutien des muscles, des organes et des tissus dans notre corps. De même que le squelette humain garantit la stabilité et la protection nécessaires au bon fonctionnement de l'organisme, les récifs coralliens assurent la stabilité des écosystèmes marins et les protègent des impacts environnementaux. Cette analogie met en lumière l'importance cruciale de préserver ces "squelettes vivants" pour maintenir l'équilibre de la vie marine.
      </p>
    </div>
  </div>
  <div class="salinite-container">
    <div animateComponentDirective class="image-container">
      <img src="assets/images/bones.jpg"/>
    </div>
  </div>
</div>

