.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}
.content{
  text-align: center;
  max-width: 1200px;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.contact-row{
  display: flex;
  max-height : 500px
}
.contact-form-container{
  background-color: white;
  border: 1px solid #38abf8;
  height: 500px;
  width: 600px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.form-title{
  margin-top: 1.5rem;
  margin-left: 1.2rem;
  font-weight: bold;
}
.form{
  color: #02016f;
  padding: 3rem 3rem 1rem 3rem;
}
.form-field{
  display: grid;
  grid-template-columns: 2fr;
  align-items:flex-end;
  margin: 1rem;
}
.form-field-tow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:flex-end;
  margin: 1rem;
}
.form-label{
  margin-left: 40px
}
.form-input input:focus{
  outline: none;
  border-color: #ccc;
}
.form-field input{
  border: 1px solid #38abf8;
  height: 2rem;
  border-radius: 5px;
  min-width:445px;
  min-height: 40px;
  padding-left: 1rem;
}
.form-field-tow input{
  border: 1px solid #38abf8;
  height: 2rem;
  border-radius: 5px;
  min-width: 215px; min-height: 40px;padding-left: 1rem;
}
.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  background-color: #e0f2fe;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: #02016f;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
}
.contact-button:hover{
  background-color: #bae2fd;
}
.image-container{
  margin-top:70px;
  width: 600px;
  height: 500px;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
}
.contact-image{
  // transform: translateX(-250px);
  object-fit: cover;
  display: inline-block;
  max-width: 100%;
  height: auto;

}

.contact-title{
  color: #38abf8;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width:450px) {
  .image-container{
    display: none;
  }
  .contact-container{
    display: unset;
    padding-top: 0;
  }
  .contact-form-container{
    margin: 0 25px;
    width: unset;
    border-radius: 1rem;
  }
  .form-field{
    display: grid;
    grid-template-columns: 1fr;
    align-items:flex-end;
    margin: 1rem;
  }
  .form-field-tow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:flex-end;
    margin: 1rem;
  }
  .form{
    color: #38abf8;
    padding: 3rem 1rem 1rem 1rem;
  }
  .form-field input{
    min-width: 285px;
    min-height: 40px;
  }
  .form-field-tow input{
    width: 125px;
    min-width: unset;
    margin: 0;
  }
  .contact-row{
    display: unset;
  }
  .contact-button-container{
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width:390px) {
  .form-field input{
    min-width:255px;
    min-height: 40px;
  }
}
@media screen and (max-width:415px) {
  .form-field input{
    min-width: 275px;
    min-height: 40px;
  }
  .form-field-tow input{
    width: 135px;
    min-width: unset;
    margin: 0;
  }
}@media screen and (max-width:380px) {
  .form-field input{
    min-width: 255px;
    min-height: 40px;
  }
  .form-field-tow input{
    width: 125px;
    min-width: unset;
    margin: 0;
  }
}
