<div class="contact-container">
  <div animateComponentDirective class="content">
    <div class="contact-title">
      <span>CONTACTEZ-NOUS</span>
    </div>
    <div class="contact-row">
      <div class="contact-form-container">
        <div class="form">
          <div class="form-title">
            <span>Remplissez vos données</span>
          </div>
          <form>
            <div class="form-field">
            </div>
            <div class="form-field-tow">
              <div class="form-input">
                <input placeholder="Nom" type="text" id="firstName" name="firstName" [(ngModel)]="emailDto.firstName">
              </div>
              <div class="form-input">
                <input placeholder="Prénom" type="text" id="lastName" name="lastName" [(ngModel)]="emailDto.lastName">
              </div>
            </div>
            <div class="form-field-tow">
              <div class="form-input">
                <input placeholder="Entreprise" type="text" id="enterpriseName" name="enterpriseName" [(ngModel)]="emailDto.enterprise">
              </div>
              <div class="form-input">
                <input placeholder="Poste" type="text" id="enterprisePost" name="enterprisePost" [(ngModel)]="emailDto.post">
              </div>
            </div>
            <div class="form-field">
              <div class="form-input">
                <input placeholder="Télèphone"  type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="emailDto.phoneNumber">
              </div>
            </div>
            <div class="form-field">
              <div class="form-input">
                <input placeholder="Email" type="email" id="enterpriseEmail" name="enterpriseEmail" [(ngModel)]="emailDto.from">
              </div>
            </div>

          </form>
        </div>
        <div class="contact-button-container">
          <button class="contact-button" (click)="sendEmail()">Envoyez</button>
        </div>
      </div>
      <div animateComponentDirective class="image-container">
        <img class="contact-image" src="assets/images/contact.png">
      </div>
    </div>
  </div>
</div>
